html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#ComposeTarget {
    width: 360px !important;
    height: 800px !important;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
}

/* #root {
    width: 360px;
    height: 800px;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
} */